
    .container {
     margin-bottom: 0px;
     width:100%;
   }

    #section1 {background-color: #F2F2F2;}
    #section2 {padding-top:50px;height:500px;background-color: #F2F2F2;}
    #section3 {padding-top:50px;height:500px;}
    #section4 {padding-top:50px;height:500px;}

    h1 {
      margin-bottom:15px;
      margin-top:20px;
    }

    .testClass{
      stroke:black;
      stroke-width:4;
      fill:black;
    }
    .map-keys {
      width:9%;
      float: right;
    }
    .map-keys h3 {
      font-size:14px;
    }
    .map-keys ol {
      list-style: none;
      padding-left:0;
    }
    .map-keys li {
      line-height: 15px;
      font-size:12px;
    }
    .map-keys li .key {
      width:10px;
      height:10px;
      float:left;
      margin-right:8px;
      vertical-align: center;
      border: 1px solid #ccc;
    }
    .red > .key {
      background-color: #FF0000;
    }
    .orange > .key {
      background-color:#ff9900;
    }
    .yellow > .key {
      background-color: #FFFF00;
    }
    .lgreen > .key {
      background-color: #ccff00 ;
    }
    .dgreen > .key {
      background-color: #33ff00;
    }

    .income1 > .key {
      background-color: #E1F7FA;
    }
    .income2 > .key {
      background-color:#BCF1F7;
    }
    .income3 > .key {
      background-color: #99E9F2;
    }
    .income4 > .key {
      background-color: #74D8E3 ;
    }
    .income5 > .key {
      background-color: #3CA0AB;
    }
    .income6 > .key {
      background-color: #126770;
    }
    .income7 > .key {
      background-color: #013036;
    }

 html, body {
                height: 100%;
                margin: 0;
                padding: 0;
            }
            #map {
                height: 80%;
                width:90%;
            }
            .testClass{
                stroke:black;
                stroke-width:4;
                fill:black;
            }
            /*.red {
                stroke:black;
                stroke-width:4;
                fill:red;
            }*/
